*{
margin:0px;
padding:0px;
}

.div1{
height:40px;
width:100%;
background-color:orange;
}
#xyz{
height:300px;
margin-left:300px;
margin-right:300px;
position:relative;
top:-300px;

}
#xyz div{
height:300px;
background-color:orange;
width:350px;
float:left;
margin-left:50px;
border-radius:60px 60px 60px 60px;
overflow:scroll;

}
.left_head{
float:left;
}
#right_head{
float:right;
}
.caption{
position:relative;
top:-500px;
font-size:100px;

}
#advertize{
position:fixed;
width:100%;
top:400px;
z-index:-1;
opacity:0.3;

}


















